.header {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: var(--font-size-large);
  padding: var(--spacing-medium);
  margin: auto;
  display: flex;
  justify-content: center;
}
